
#titleh2{
    font-size: medium;
    color: red;
    text-align: center;
    font-style: italic;
}

#titleh3{
    font-size: medium;
    color: darkgoldenrod;
}

.searchBar input {
    border-radius: 20px;
    border: 1px solid #cae4cd;
    padding: 1.8rem 2rem;
    width: 30vw;
    font-size: 1.6rem;
  }

  .title-class{
    font-size: 3em;
    color: black;
    font-style: italic;
    text-align: center;
  }

  .card-container {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;

}

  .card {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    flex: 15%;
    margin: 5px;
    text-align: center;
    border-color: greenyellow;
    border-width: medium;
}

  .card>img {
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


